In [1]:
import pandas as pd

In [24]:
# -----------------------Concatenate - Concat()-----------------
# -----------concat vertically - (axis=0) default----------------
df1 = pd.DataFrame({'id':['A','B','C'],
                    'age':[30,50,60]})
df2 = pd.DataFrame({'id':['D','E','F'],
                    'age':[34,52,45]})

In [25]:
pd.concat([df1,df2],axis=0,ignore_index=True)

  id  age
0  A   30
1  B   50
2  C   60
3  D   34
4  E   52
5  F   45

In [8]:
df_movies = pd.read_csv('../Assets/IMDb movies.csv')
df_ratings = pd.read_csv('../Assets/IMDb ratings.csv')

In [15]:
df_movies = df_movies[['imdb_title_id','title','year','genre','country']]

In [12]:
df_ratings = df_ratings[['imdb_title_id','total_votes','mean_vote']]

In [16]:
df_movies

,imdb_title_id,title,year,genre,country
0,tt0000574,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",Australia
1,tt0001892,Den sorte drøm,1911,Drama,"Germany, Denmark"
2,tt0002101,Cleopatra,1912,"Drama, History",USA
3,tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",Italy
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...",1912,"Biography, Drama",USA
...,...,...,...,...,...
81268,tt9903716,Jessie,2019,"Horror, Thriller",India
81269,tt9905412,Ottam,2019,Drama,India
81270,tt9905462,Pengalila,2019,Drama,India
81271,tt9911774,Padmavyuhathile Abhimanyu,2019,Drama,India
81272,tt9914286,Sokagin Çocuklari,2019,"Drama, Family",Turkey

In [14]:
df_ratings

      imdb_title_id  total_votes  mean_vote
0         tt0000009          154        5.9
1         tt0000574          589        6.3
2         tt0001892          188        6.0
3         tt0002101          446        5.3
4         tt0002130         2237        6.9
...             ...          ...        ...
85850     tt9908390          398        5.5
85851     tt9911196          724        7.9
85852     tt9911774          265        7.8
85853     tt9914286          194        9.4
85854     tt9914942          102        6.8

[85855 rows x 3 columns]

In [27]:
# Concat vertically - (axis=0) default
# extract a 50% sample of the original dataframe(df_movies)
df_sample = df_movies.sample(frac=0.5)

In [29]:
# shape of dataframe that we'll concatenate
print(df_sample.shape)
print(df_movies.shape)

(40636, 5)
(81273, 5)

In [31]:
# concatenate and df_movies and df_sample(vertically along the rows)
df_concat_vertically = pd.concat([df_movies,df_sample],axis=0)

In [33]:
# 40636 + 81273 = 121909
df_concat_vertically.shape

(121909, 5)

In [34]:
# ----------------------Concatenate (Horizontally) - (axis=1)-----------------
df1 = pd.DataFrame({'id':['A','B','C'],
                    'age':[30,50,60]})
df1 = pd.DataFrame({'Job':['Doctor','Accountant','Developer']})

In [37]:
pd.concat([df1,df2],axis=1)

          Job id  age
0      Doctor  D   34
1  Accountant  E   52
2   Developer  F   45

In [44]:
#----------------------------------------------------------
#shape of df that we'll concatenate
print(df_movies.shape)
print(df_ratings.shape)

(81273, 5)
(85855, 3)

In [52]:
df_ratings.set_index('imdb_title_id',inplace=True)
df_movies.set_index('imdb_title_id',inplace=True)

In [54]:
# concatenate df_movies and df_rating on 'imb_title_id' (Horizontally)
df_horizontally = pd.concat([df_movies,df_ratings],axis=1)

In [55]:
df_horizontally.shape

(86704, 6)