In [1]:
#------------------------Page Three----------------------------
import pandas as pd
import numpy as np
df_players = pd.read_csv("../Assets/fifa_players.csv", engine='python')

In [8]:
# selecting data with loc() and iloc()

# loc() is label-based so we have to specify rows and columns based in their index/row and column labels

# Value---------df.loc['zero']
# List----------df.loc[['zero','two']]
# Slicing-------df.loc['zero':'two']

#-------------------------------------------------------------------------
# iloc() is integer position-based so we have to specify rows and columns by their integer position values (0-based integer position)

# Value-------- df.iloc[0]
# List----------df.iloc[[0,2]]
# Slicing-------df.iloc[0:2]

In [17]:
df_players

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,89,46,56,84,91,67,88,59,57,22
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,78,64,82,88,82,87,63,67,67
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,84,34,26,83,87,61,83,51,24,22
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,15,87,88,24,49,33,80,91,88,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,...,54,69,41,60,64,63,56,40,20,18
17950,M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,...,22,62,55,42,39,32,52,53,64,60
17951,J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,...,9,27,10,5,25,16,47,9,12,13
17952,A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,...,58,38,15,54,52,50,53,16,18,17
17953,Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,...,53,67,20,53,49,52,45,23,31,21

In [2]:
# set index
df_players.set_index('name',inplace=True)

In [5]:
df_players

,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,value_euro,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
name,,,,,,,,,,,,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,110500000.0,...,94,48,22,94,94,75,96,33,28,26
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,69500000.0,...,89,46,56,84,91,67,88,59,57,22
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,73000000.0,...,82,78,64,82,88,82,87,63,67,67
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,62000000.0,...,84,34,26,83,87,61,83,51,24,22
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,60000000.0,...,15,87,88,24,49,33,80,91,88,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,975000.0,...,54,69,41,60,64,63,56,40,20,18
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,190000.0,...,22,62,55,42,39,32,52,53,64,60
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,170000.0,...,9,27,10,5,25,16,47,9,12,13
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,280000.0,...,58,38,15,54,52,50,53,16,18,17
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,325000.0,...,53,67,20,53,49,52,45,23,31,21

In [6]:
df_players = df_players[['full_name','birth_date','age','height_cm','weight_kgs','nationality','national_team','national_rating'
    ]]

In [7]:
df_players

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,Argentina,Argentina,82.0
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [8]:
# selecting with a single value

# get all data about Messi
df_players.loc['L. Messi']

full_name          Lionel Andrés Messi Cuccittini
birth_date                              6/24/1987
age                                            31
height_cm                                  170.18
weight_kgs                                   72.1
nationality                             Argentina
national_team                           Argentina
national_rating                              82.0
Name: L. Messi, dtype: object

In [9]:
df_players.loc['L. Messi','height_cm']

np.float64(170.18)

In [10]:
# get weight of Cr7
df_players.loc[('Cristiano Ronaldo','weight_kgs')]

np.float64(83.0)

In [11]:
# get all rows inside the height column
df_players.loc[:,'height_cm']

name
L. Messi          170.18
C. Eriksen        154.94
P. Pogba          190.50
L. Insigne        162.56
K. Koulibaly      187.96
                   ...
R. McKenzie       175.26
M. Sipľak         182.88
J. Bekkema        185.42
A. Al Yami        175.26
Júnior Brumado    190.50
Name: height_cm, Length: 17954, dtype: float64

In [12]:
# get all columns that correspond to the index 'L.Messi'
df_players.loc['L. Messi',:]

full_name          Lionel Andrés Messi Cuccittini
birth_date                              6/24/1987
age                                            31
height_cm                                  170.18
weight_kgs                                   72.1
nationality                             Argentina
national_team                           Argentina
national_rating                              82.0
Name: L. Messi, dtype: object

In [13]:
# selecting with a list of values

# get all data about messi and ronaldo
df_players.loc[['L. Messi','Cristiano Ronaldo']]

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,Argentina,Argentina,82.0
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,2/5/1985,34,187.96,83.0,Portugal,Portugal,82.0

In [14]:
# get the height of messi and ronaldo
df_players.loc[['L. Messi','Cristiano Ronaldo'],'height_cm']

name
L. Messi             170.18
Cristiano Ronaldo    187.96
Name: height_cm, dtype: float64

In [15]:
# get height and weight of messi
df_players.loc['L. Messi',['height_cm','weight_kgs']]

height_cm     170.18
weight_kgs      72.1
Name: L. Messi, dtype: object

In [16]:
# get height and weight of messi and ronaldo
df_players.loc[['L. Messi','Cristiano Ronaldo'],['height_cm','weight_kgs']]

                   height_cm  weight_kgs
name
L. Messi              170.18        72.1
Cristiano Ronaldo     187.96        83.0

In [17]:
# ------------------Selecting a range of data with a slice -------

# slice column labels
players = ['L. Messi','Cristiano Ronaldo']

df_players.loc[players, 'age':'national_team']

                   age  height_cm  weight_kgs nationality national_team
name
L. Messi            31     170.18        72.1   Argentina     Argentina
Cristiano Ronaldo   34     187.96        83.0    Portugal      Portugal

In [19]:
# slice index labels
columns = ['age','height_cm','weight_kgs']

df_players.index[:10]
df_players.loc['L. Messi':'E. Cavani',columns]

              age  height_cm  weight_kgs
name
L. Messi       31     170.18        72.1
C. Eriksen     27     154.94        76.2
P. Pogba       25     190.50        83.9
L. Insigne     27     162.56        59.0
K. Koulibaly   27     187.96        88.9
V. van Dijk    27     193.04        92.1
K. Mbappé      20     152.40        73.0
S. Agüero      30     172.72        69.9
M. Neuer       32     193.04        92.1
E. Cavani      32     185.42        77.1

In [20]:
# ------------------------- Selecting with conditions--------------
# select player with height above 180cm
columns = ['age','height_cm','weight_kgs']
df_players.loc[df_players['height_cm'] > 180,columns]

                   age  height_cm  weight_kgs
name
P. Pogba            25     190.50        83.9
K. Koulibaly        27     187.96        88.9
V. van Dijk         27     193.04        92.1
M. Neuer            32     193.04        92.1
E. Cavani           32     185.42        77.1
...                ...        ...         ...
Cristiano Ronaldo   34     187.96        83.0
J. Serra            20     193.04        87.1
M. Sipľak           23     182.88        79.8
J. Bekkema          22     185.42        89.8
Júnior Brumado      19     190.50        79.8

[8900 rows x 3 columns]

In [58]:
#------------Selecting players with multiple conditions----------------------

(df_players['height_cm']>180) & (df_players['nationality']=="Argentina")

df_players.loc[(df_players['height_cm']>180) & (df_players['national_team']=="Argentina"),:
]

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
R. Funes Mori,José Ramiro Funes Mori,3/5/1991,28,185.42,78.9,Argentina,Argentina,82.0
S. Romero,Sergio Germán Romero,2/22/1987,32,193.04,87.1,Argentina,Argentina,82.0
R. Pereyra,Roberto Pereyra,1/7/1991,28,182.88,77.1,Argentina,Argentina,82.0
G. Pezzella,Germán Alejandro Pezzella,6/27/1991,27,185.42,81.2,Argentina,Argentina,82.0
E. Lamela,Erik Lamela,3/4/1992,27,182.88,79.8,Argentina,Argentina,82.0
N. Otamendi,Nicolás Hernán Otamendi,2/12/1988,31,182.88,81.2,Argentina,Argentina,82.0

In [60]:
df_players

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,Argentina,Argentina,82.0
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [62]:
#---------------------iloc()-------------------------------------
#--Select Single Values
# Get the Birthdate of the messi
df_players.iloc[0,1]

'6/24/1987'

In [63]:
# Get the weight of Paul Pogba
df_players.iloc[2,4]

np.float64(83.9)

In [64]:
# get all rows inside the height column
df_players.iloc[:,3]

name
L. Messi          170.18
C. Eriksen        154.94
P. Pogba          190.50
L. Insigne        162.56
K. Koulibaly      187.96
                   ...
R. McKenzie       175.26
M. Sipľak         182.88
J. Bekkema        185.42
A. Al Yami        175.26
Júnior Brumado    190.50
Name: height_cm, Length: 17954, dtype: float64

In [65]:
# get all the columns that correspond to the index L. Messi
df_players.iloc[0, :]

full_name          Lionel Andrés Messi Cuccittini
birth_date                              6/24/1987
age                                            31
height_cm                                  170.18
weight_kgs                                   72.1
nationality                             Argentina
national_team                           Argentina
national_rating                              82.0
Name: L. Messi, dtype: object

In [67]:
#-----------------Selecting with a list of values--------
#get all data about L. Messi and Pogba

df_players.iloc[[0,2]]

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,Argentina,Argentina,82.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0

In [68]:
# get the height of messi and pogba
df_players.iloc[[0,2],3]

name
L. Messi    170.18
P. Pogba    190.50
Name: height_cm, dtype: float64

In [70]:
# get the height and weight of pogba and messi
df_players.iloc[[0,2],[3,4]]

          height_cm  weight_kgs
name
L. Messi     170.18        72.1
P. Pogba     190.50        83.9

In [71]:
#-----------------Selecting a range of data with a slice---------------

# slice column labels age and nationality
players = [0, 1]
df_players.iloc[players,2:6]

            age  height_cm  weight_kgs nationality
name
L. Messi     31     170.18        72.1   Argentina
C. Eriksen   27     154.94        76.2     Denmark

In [73]:
# get top 10 players in the list
columns = [1,2,3,4]
df_players.iloc[0:10,columns]

              birth_date  age  height_cm  weight_kgs
name
L. Messi       6/24/1987   31     170.18        72.1
C. Eriksen     2/14/1992   27     154.94        76.2
P. Pogba       3/15/1993   25     190.50        83.9
L. Insigne      6/4/1991   27     162.56        59.0
K. Koulibaly   6/20/1991   27     187.96        88.9
V. van Dijk     7/8/1991   27     193.04        92.1
K. Mbappé     12/20/1998   20     152.40        73.0
S. Agüero       6/2/1988   30     172.72        69.9
M. Neuer       3/27/1986   32     193.04        92.1
E. Cavani      2/14/1987   32     185.42        77.1

In [76]:
# ----------------------selecting with conditions-------------------
columns = [1,2,3,4]

df_players.iloc[list(df_players['height_cm']>186),columns]

                  birth_date  age  height_cm  weight_kgs
name
P. Pogba           3/15/1993   25     190.50        83.9
K. Koulibaly       6/20/1991   27     187.96        88.9
V. van Dijk         7/8/1991   27     193.04        92.1
M. Neuer           3/27/1986   32     193.04        92.1
Sergio Busquets    7/16/1988   30     187.96        76.2
...                      ...  ...        ...         ...
H. Kane            7/28/1993   25     187.96        88.9
De Gea             11/7/1990   28     193.04        76.2
Cristiano Ronaldo   2/5/1985   34     187.96        83.0
J. Serra           3/13/1998   20     193.04        87.1
Júnior Brumado     5/15/1999   19     190.50        79.8

[4153 rows x 4 columns]

In [78]:
df_players.iloc[list((df_players['height_cm']>180) & (df_players['national_team']=='Argentina')),:]

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
R. Funes Mori,José Ramiro Funes Mori,3/5/1991,28,185.42,78.9,Argentina,Argentina,82.0
S. Romero,Sergio Germán Romero,2/22/1987,32,193.04,87.1,Argentina,Argentina,82.0
R. Pereyra,Roberto Pereyra,1/7/1991,28,182.88,77.1,Argentina,Argentina,82.0
G. Pezzella,Germán Alejandro Pezzella,6/27/1991,27,185.42,81.2,Argentina,Argentina,82.0
E. Lamela,Erik Lamela,3/4/1992,27,182.88,79.8,Argentina,Argentina,82.0
N. Otamendi,Nicolás Hernán Otamendi,2/12/1988,31,182.88,81.2,Argentina,Argentina,82.0

In [80]:
#------------------------------Set Values to one cell------------------

# update the height of messi
df_players.loc['L. Messi','height_cm'] = 168

In [81]:
df_players

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,168.00,72.1,Argentina,Argentina,82.0
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [82]:
#----------set a value to entire column-------------------------
df_players.loc[:,'height_cm'] = 190

In [83]:
df_players

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,190.0,72.1,Argentina,Argentina,82.0
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,190.0,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,25,190.0,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,190.0,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,190.0,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,190.0,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,190.0,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,190.0,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,190.0,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.0,79.8,Brazil,NaN,NaN

In [85]:
#---set values to a entire row
df_players.iloc[-1, :]

full_name          José Francisco dos Santos Júnior
birth_date                                5/15/1999
age                                              19
height_cm                                     190.0
weight_kgs                                     79.8
nationality                                  Brazil
national_team                                   NaN
national_rating                                 NaN
Name: Júnior Brumado, dtype: object

In [92]:
df_players.iloc[-1, :] = np.nan

In [97]:
df_players.tail(1)

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
17953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
df_players

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31.0,170.18,72.1,"CF,RW,ST",Argentina,94.0,94.0,...,94.0,48.0,22.0,94.0,94.0,75.0,96.0,33.0,28.0,26.0
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27.0,154.94,76.2,"CAM,RM,CM",Denmark,88.0,89.0,...,89.0,46.0,56.0,84.0,91.0,67.0,88.0,59.0,57.0,22.0
2,P. Pogba,Paul Pogba,3/15/1993,25.0,190.50,83.9,"CM,CAM",France,88.0,91.0,...,82.0,78.0,64.0,82.0,88.0,82.0,87.0,63.0,67.0,67.0
3,L. Insigne,Lorenzo Insigne,6/4/1991,27.0,162.56,59.0,"LW,ST",Italy,88.0,88.0,...,84.0,34.0,26.0,83.0,87.0,61.0,83.0,51.0,24.0,22.0
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27.0,187.96,88.9,CB,Senegal,88.0,91.0,...,15.0,87.0,88.0,24.0,49.0,33.0,80.0,91.0,88.0,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,Rory McKenzie,10/7/1993,25.0,175.26,74.8,"RM,CAM,CM",Scotland,67.0,70.0,...,54.0,69.0,41.0,60.0,64.0,63.0,56.0,40.0,20.0,18.0
17950,M. Sipľak,Michal Sipľak,2/2/1996,23.0,182.88,79.8,LB,Slovakia,59.0,67.0,...,22.0,62.0,55.0,42.0,39.0,32.0,52.0,53.0,64.0,60.0
17951,J. Bekkema,Jan Bekkema,4/9/1996,22.0,185.42,89.8,GK,Netherlands,59.0,67.0,...,9.0,27.0,10.0,5.0,25.0,16.0,47.0,9.0,12.0,13.0
17952,A. Al Yami,Abdulrahman Al Yami,6/19/1997,21.0,175.26,64.9,"ST,LM",Saudi Arabia,59.0,71.0,...,58.0,38.0,15.0,54.0,52.0,50.0,53.0,16.0,18.0,17.0
17953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#---------------Set value to multiple cells----------------------
df_players.loc[['L. Messi','Cristiano Ronaldo'],'height_cm'] = 175

In [11]:
columns = ['age','height_cm','weight_kgs']

df_players.loc[df_players['height_cm'] > 180,columns]

                   age  height_cm  weight_kgs
name
P. Pogba            25     190.50        83.9
K. Koulibaly        27     187.96        88.9
V. van Dijk         27     193.04        92.1
M. Neuer            32     193.04        92.1
E. Cavani           32     185.42        77.1
...                ...        ...         ...
Cristiano Ronaldo   34     187.96        83.0
J. Serra            20     193.04        87.1
M. Sipľak           23     182.88        79.8
J. Bekkema          22     185.42        89.8
Júnior Brumado      19     190.50        79.8

[8900 rows x 3 columns]

In [3]:
df_players

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,89,46,56,84,91,67,88,59,57,22
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,78,64,82,88,82,87,63,67,67
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,84,34,26,83,87,61,83,51,24,22
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,15,87,88,24,49,33,80,91,88,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,...,54,69,41,60,64,63,56,40,20,18
17950,M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,...,22,62,55,42,39,32,52,53,64,60
17951,J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,...,9,27,10,5,25,16,47,9,12,13
17952,A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,...,58,38,15,54,52,50,53,16,18,17
17953,Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,...,53,67,20,53,49,52,45,23,31,21

In [21]:
#--------------------------Drop Rows in a DATA FRAME ------------------

# drop one row
# 1) aix parameter

# 0 is row and 1 in column
df_players.drop('L. Messi',axis=0)

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN,NaN
V. van Dijk,Virgil van Dijk,7/8/1991,27,193.04,92.1,Netherlands,Netherlands,81.0
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [23]:
# 2) index parameter

df_players.drop(index=['L. Messi'])

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN,NaN
V. van Dijk,Virgil van Dijk,7/8/1991,27,193.04,92.1,Netherlands,Netherlands,81.0
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [24]:
# drop two or more data
df_players.drop(['C. Eriksen','K. Koulibaly'] ,axis=0)

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,Argentina,Argentina,82.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
V. van Dijk,Virgil van Dijk,7/8/1991,27,193.04,92.1,Netherlands,Netherlands,81.0
K. Mbappé,Kylian Mbappé,12/20/1998,20,152.40,73.0,France,France,84.0
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [25]:
# --Drop Columns

# axis parameter
df_players.drop('full_name',axis=1)

,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,
L. Messi,6/24/1987,31,170.18,72.1,Argentina,Argentina,82.0
C. Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...,...
R. McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [26]:
# column parameter
df_players.drop(columns=['age'])

,full_name,birth_date,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,170.18,72.1,Argentina,Argentina,82.0
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,187.96,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,190.50,79.8,Brazil,NaN,NaN

In [27]:
df_players

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,Argentina,Argentina,82.0
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [30]:
# drop columns by position - deleting national rating

df_players.drop(df_players.columns[[-1]], axis=1)

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team
name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,Argentina,Argentina
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN
...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN

In [31]:
# drop two or more columns
df_players.drop(['full_name','birth_date'],axis=1)

,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,
L. Messi,31,170.18,72.1,Argentina,Argentina,82.0
C. Eriksen,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,25,190.50,83.9,France,France,84.0
L. Insigne,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,27,187.96,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...
R. McKenzie,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,19,190.50,79.8,Brazil,NaN,NaN

In [43]:
#------------Sample()---------------------
# extract 10 numbers from the nationality column - result is randomly chosen/ with random state 99 chances remains the same set
df_players['nationality'].sample(10,random_state=99)

name
C. Goldson            England
Wang Yun             China PR
B. Berríos              Chile
M. Calderoni            Italy
T. Conlon             England
Juan Pérez              Spain
D. Chávez              Mexico
N. Angulo            Colombia
M. Diallo             Senegal
S. Caldwell     United States
Name: nationality, dtype: object

In [42]:
# extract 20% sample of df
df_players.sample(frac=0.2,random_state=12)

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
Antoñito,Antonio Jesús Regal Angulo,12/24/1987,31,175.26,64.0,Spain,NaN,NaN
M. Perrotta,Marco Perrotta,2/14/1994,25,185.42,78.0,Italy,NaN,NaN
S. Çiftpınar,Sadık Çiftpınar,1/1/1993,26,154.94,78.0,Turkey,NaN,NaN
N. Omladič,Nik Omladič,8/21/1989,29,154.94,72.1,Slovenia,NaN,NaN
M. Al Rashidi,Mukhair Al Rashidi,5/20/1999,19,170.18,68.0,Saudi Arabia,NaN,NaN
...,...,...,...,...,...,...,...,...
Yan Hao,阎浩,1/9/1999,20,185.42,74.8,China PR,NaN,NaN
A. Miranchuk,Anton Miranchuk,10/17/1995,23,182.88,72.1,Russia,Russia,77.0
S. Dann,Scott Dann,2/14/1987,32,187.96,78.0,England,NaN,NaN
J. Guillemenot,Jérémy Guillemenot,1/6/1998,21,182.88,74.8,Switzerland,NaN,NaN
Li Fang,李放,1/27/1993,26,175.26,67.1,China PR,NaN,NaN

In [3]:
#---------------------Query()-------------------------------------
# select players older than 34
df_players.query("age>34")

,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,value_euro,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
name,,,,,,,,,,,,,,,,,,,,,
Z. Ibrahimović,Zlatan Ibrahimović,10/3/1981,37,195.58,94.8,ST,Sweden,85,85,14000000.0,...,82,84,20,85,79,89,90,28,37,24
Juiano Mestres,Juan Everton Mestres de Mesquita,2/29/1984,35,154.94,82.1,"CB,CDM",Brazil,82,82,6500000.0,...,61,86,82,58,50,62,70,77,85,84
Everton Andrão,Everton Jorge Andrade Zanon,2/29/1984,35,152.40,74.8,"CDM,CM",Brazil,80,80,4500000.0,...,64,81,79,54,73,61,68,80,81,77
Joaquín,Joaquín Sánchez Rodríguez,7/21/1981,37,152.40,74.8,"LM,ST,RM",Spain,81,81,6000000.0,...,76,53,35,81,85,75,80,41,47,39
J. Mathieu,Jérémy Mathieu,10/29/1983,35,187.96,83.9,CB,France,81,81,5500000.0,...,74,72,82,58,58,72,76,86,84,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A. Robben,Arjen Robben,1/23/1984,35,154.94,79.8,"RM,RW",Netherlands,84,84,15500000.0,...,86,47,37,84,80,78,85,30,26,26
Quaresma,Ricardo Andrade Quaresma Bernardo,9/26/1983,35,175.26,67.1,"RM,LM",Portugal,84,84,15500000.0,...,80,74,24,78,84,74,84,29,17,13
Naldo,Ronaldo Aparecido Rodrigues,9/10/1982,36,198.12,91.2,CB,Brazil,84,84,7500000.0,...,82,71,82,53,59,60,84,85,87,85
Pepe,Képler Laveran Lima Ferreira,2/26/1983,36,187.96,81.2,CB,Portugal,85,85,9000000.0,...,56,92,85,40,48,57,79,86,85,82
G. Buffon,Gianluigi Buffon,1/28/1978,41,193.04,92.1,GK,Italy,88,88,4000000.0,...,13,38,28,12,50,22,70,13,11,11

In [4]:
# write boolean slicing
df_players[df_players['age']>34]

,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,value_euro,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
name,,,,,,,,,,,,,,,,,,,,,
Z. Ibrahimović,Zlatan Ibrahimović,10/3/1981,37,195.58,94.8,ST,Sweden,85,85,14000000.0,...,82,84,20,85,79,89,90,28,37,24
Juiano Mestres,Juan Everton Mestres de Mesquita,2/29/1984,35,154.94,82.1,"CB,CDM",Brazil,82,82,6500000.0,...,61,86,82,58,50,62,70,77,85,84
Everton Andrão,Everton Jorge Andrade Zanon,2/29/1984,35,152.40,74.8,"CDM,CM",Brazil,80,80,4500000.0,...,64,81,79,54,73,61,68,80,81,77
Joaquín,Joaquín Sánchez Rodríguez,7/21/1981,37,152.40,74.8,"LM,ST,RM",Spain,81,81,6000000.0,...,76,53,35,81,85,75,80,41,47,39
J. Mathieu,Jérémy Mathieu,10/29/1983,35,187.96,83.9,CB,France,81,81,5500000.0,...,74,72,82,58,58,72,76,86,84,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A. Robben,Arjen Robben,1/23/1984,35,154.94,79.8,"RM,RW",Netherlands,84,84,15500000.0,...,86,47,37,84,80,78,85,30,26,26
Quaresma,Ricardo Andrade Quaresma Bernardo,9/26/1983,35,175.26,67.1,"RM,LM",Portugal,84,84,15500000.0,...,80,74,24,78,84,74,84,29,17,13
Naldo,Ronaldo Aparecido Rodrigues,9/10/1982,36,198.12,91.2,CB,Brazil,84,84,7500000.0,...,82,71,82,53,59,60,84,85,87,85
Pepe,Képler Laveran Lima Ferreira,2/26/1983,36,187.96,81.2,CB,Portugal,85,85,9000000.0,...,56,92,85,40,48,57,79,86,85,82
G. Buffon,Gianluigi Buffon,1/28/1978,41,193.04,92.1,GK,Italy,88,88,4000000.0,...,13,38,28,12,50,22,70,13,11,11

In [14]:
# with the query syntax dont use & use and instead
df_players.query("age>34 and nationality=='Italy'")

# write boolean slicing
df_players[(df_players['age']>34) & (df_players['nationality']=='Italy')]

,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,value_euro,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
name,,,,,,,,,,,,,,,,,,,,,
S. Sorrentino,Stefano Sorrentino,3/28/1979,39,185.42,84.8,GK,Italy,80,80,1000000.0,...,13,22,25,10,34,20,66,25,10,13
A. Diamanti,Alessandro Diamanti,5/2/1983,35,154.94,74.8,"CAM,CF",Italy,76,76,3400000.0,...,78,60,30,76,76,70,74,32,32,28
D. Dainelli,Dario Dainelli,6/9/1979,39,190.50,78.0,CB,Italy,73,73,270000.0,...,31,69,83,16,25,30,75,73,76,70
A. Rosina,Alessandro Rosina,1/31/1984,35,170.18,68.9,"RW,CAM",Italy,73,73,2000000.0,...,70,48,14,70,75,68,73,17,27,22
S. Pellissier,Sergio Pellissier,4/12/1979,39,175.26,76.2,ST,Italy,72,72,900000.0,...,78,43,24,82,69,76,80,34,27,23
A. Rosati,Antonio Rosati,6/26/1983,35,195.58,81.2,GK,Italy,69,69,250000.0,...,12,22,9,7,43,25,58,11,10,12
N. Pulzetti,Nico Pulzetti,2/13/1984,35,175.26,69.9,CM,Italy,68,68,425000.0,...,64,73,67,67,61,61,70,68,65,65
G. Munari,Gianni Munari,6/24/1983,35,190.50,83.9,CM,Italy,67,67,325000.0,...,74,77,66,65,66,46,71,64,61,61
C. Del Grosso,Cristiano Del Grosso,3/24/1983,35,170.18,66.2,"LB,LM",Italy,67,67,160000.0,...,51,68,64,61,48,42,59,65,65,71
A. Bruno,Alessandro Bruno,7/4/1983,35,154.94,69.9,"CM,CDM",Italy,64,64,220000.0,...,57,63,65,51,65,51,68,66,61,56
P. Gori,Pier Graziano Gori,5/10/1980,38,187.96,83.0,GK,Italy,63,63,20000.0,...,17,44,26,16,43,17,47,11,15,9
S. Farelli,Simone Farelli,2/19/1983,36,185.42,82.1,GK,Italy,58,58,30000.0,...,13,32,19,13,45,11,50,15,13,19
F. Nicastro,Federico Nicastro,11/24/1981,37,182.88,78.0,GK,Italy,53,53,10000.0,...,9,26,10,5,40,12,46,8,13,14
F. Russo,Francesco Russo,12/23/1981,37,187.96,76.2,GK,Italy,56,56,10000.0,...,12,42,20,17,52,10,54,28,24,20
I. La Rocca,Iacopo La Rocca,2/17/1984,35,187.96,77.1,CB,Italy,60,60,60000.0,...,47,62,57,34,41,53,54,59,61,59
T. Berni,Tommaso Berni,3/6/1983,36,185.42,79.8,GK,Italy,64,64,110000.0,...,16,25,13,10,28,20,58,3,12,12
L. Belingheri,Luca Belingheri,4/6/1983,35,182.88,69.9,"CM,CAM",Italy,67,67,325000.0,...,65,55,49,58,66,66,62,58,58,55
A. Pomini,Alberto Pomini,3/17/1981,37,185.42,79.8,GK,Italy,68,68,60000.0,...,11,38,19,10,31,23,55,20,11,13
T. Trevisan,Trevor Trevisan,12/21/1983,35,185.42,78.9,CB,Italy,68,68,270000.0,...,38,71,68,40,50,44,69,70,66,65
P. Sammarco,Paolo Sammarco,3/17/1983,35,182.88,74.8,CM,Italy,68,68,375000.0,...,70,56,63,63,65,55,75,65,66,58
M. Brighi,Matteo Brighi,2/14/1981,38,152.40,77.1,"CM,CDM",Italy,69,69,325000.0,...,64,65,68,65,72,68,69,64,60,58
F. Mazzeo,Fabio Mazzeo,7/24/1983,35,152.40,77.1,"ST,CF,RW",Italy,69,69,550000.0,...,67,43,39,72,61,53,70,24,16,14
F. Peluso,Federico Peluso,1/20/1984,35,187.96,82.1,"LB,CB",Italy,70,70,500000.0,...,57,67,76,50,38,48,71,75,75,75
D. Croce,Daniele Croce,9/9/1982,36,172.72,69.9,CM,Italy,70,70,750000.0,...,65,72,72,66,76,60,74,56,62,64
F. Valiani,Francesco Valiani,10/29/1980,38,172.72,69.9,"CM,RM",Italy,70,70,575000.0,...,71,67,65,69,67,57,75,53,53,52
C. Bovo,Cesare Bovo,1/14/1983,36,154.94,78.9,CB,Italy,70,70,425000.0,...,71,70,73,33,34,64,73,75,69,65
G. Pegolo,Gianluca Pegolo,3/25/1981,37,182.88,76.2,GK,Italy,70,70,120000.0,...,12,33,20,12,33,13,55,8,12,11
E. Calaió,Emanuele Calaió,1/8/1982,37,152.40,74.8,ST,Italy,71,71,850000.0,...,57,68,15,75,53,79,67,49,14,15
D. Gastaldello,Daniele Gastaldello,6/25/1983,35,185.42,77.1,CB,Italy,71,71,550000.0,...,39,73,74,30,49,41,72,69,72,69
M. Domizzi,Maurizio Domizzi,6/28/1980,38,185.42,79.8,CB,Italy,71,71,325000.0,...,61,71,74,33,42,67,67,74,73,70
M. Gobbi,Massimo Gobbi,10/31/1980,38,182.88,76.2,LB,Italy,71,71,270000.0,...,70,71,75,60,52,55,79,65,78,79
C. Puggioni,Christian Puggioni,1/17/1981,38,187.96,81.2,GK,Italy,71,71,160000.0,...,15,29,20,11,36,21,55,23,14,12
A. Cordaz,Alex Cordaz,1/1/1983,36,187.96,83.0,GK,Italy,71,71,550000.0,...,15,22,7,8,34,16,69,12,10,10
M. Iori,Manuel Iori,3/12/1982,36,182.88,72.1,"CM,CDM",Italy,72,72,975000.0,...,71,72,63,58,76,74,74,70,63,62
C. Molinaro,Cristian Molinaro,7/30/1983,35,182.88,82.1,"LB,LM",Italy,72,72,875000.0,...,56,76,74,62,54,63,75,72,74,74
D. Maietta,Domenico Maietta,8/3/1982,36,182.88,74.8,CB,Italy,72,72,725000.0,...,18,72,78,16,20,15,70,65,78,74
S. Floccari,Sergio Floccari,11/12/1981,37,154.94,78.9,ST,Italy,74,74,2000000.0,...,68,48,20,77,60,72,76,25,20,16
M. Pasqual,Manuel Pasqual,3/13/1982,36,152.40,71.2,"LB,LM",Italy,74,74,650000.0,...,62,66,72,66,70,50,78,70,73,72
C. Maggio,Christian Maggio,2/11/1982,37,182.88,78.9,RB,Italy,75,75,775000.0,...,69,72,67,74,58,57,78,74,75,75
F. Marchetti,Federico Marchetti,2/7/1983,36,187.96,83.0,GK,Italy,75,75,1600000.0,...,13,36,22,12,45,22,64,9,12,14
E. Moretti,Emiliano Moretti,6/11/1981,37,182.88,77.1,CB,Italy,75,75,900000.0,...,39,74,84,31,31,49,73,80,77,76
D. Bonera,Daniele Bonera,5/31/1981,37,182.88,83.9,"CB,RB,LB",Italy,75,75,900000.0,...,53,79,78,27,41,49,77,82,78,74
F. Quagliarella,Fabio Quagliarella,1/31/1983,36,154.94,78.9,ST,Italy,82,82,10000000.0,...,89,44,26,85,77,84,82,35,21,15
D. De Rossi,Daniele De Rossi,7/24/1983,35,182.88,83.0,CDM,Italy,83,83,8000000.0,...,72,83,87,55,73,80,90,90,82,80
A. Barzagli,Andrea Barzagli,5/8/1981,37,187.96,87.1,CB,Italy,83,83,3500000.0,...,39,66,90,28,62,60,88,94,88,80
G. Buffon,Gianluigi Buffon,1/28/1978,41,193.04,92.1,GK,Italy,88,88,4000000.0,...,13,38,28,12,50,22,70,13,11,11

In [18]:
#df_players.query("not(age>34)")

df_players[~(df_players['age']>34)]

,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,value_euro,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
name,,,,,,,,,,,,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,110500000.0,...,94,48,22,94,94,75,96,33,28,26
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,69500000.0,...,89,46,56,84,91,67,88,59,57,22
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,73000000.0,...,82,78,64,82,88,82,87,63,67,67
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,62000000.0,...,84,34,26,83,87,61,83,51,24,22
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,60000000.0,...,15,87,88,24,49,33,80,91,88,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,975000.0,...,54,69,41,60,64,63,56,40,20,18
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,190000.0,...,22,62,55,42,39,32,52,53,64,60
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,170000.0,...,9,27,10,5,25,16,47,9,12,13
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,280000.0,...,58,38,15,54,52,50,53,16,18,17
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,325000.0,...,53,67,20,53,49,52,45,23,31,21

In [19]:
# convert height to Meters and select those with height above 1.8
df_players.query("height_cm/100 > 1.8")

,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,value_euro,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
name,,,,,,,,,,,,,,,,,,,,,
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,73000000.0,...,82,78,64,82,88,82,87,63,67,67
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,60000000.0,...,15,87,88,24,49,33,80,91,88,87
V. van Dijk,Virgil van Dijk,7/8/1991,27,193.04,92.1,CB,Netherlands,88,90,59500000.0,...,64,82,88,41,60,62,87,90,89,84
M. Neuer,Manuel Neuer,3/27/1986,32,193.04,92.1,GK,Germany,89,89,38000000.0,...,16,29,30,12,70,47,70,17,10,11
E. Cavani,Edinson Roberto Cavani Gómez,2/14/1987,32,185.42,77.1,ST,Uruguay,89,89,60000000.0,...,79,84,48,93,77,85,82,52,45,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,2/5/1985,34,187.96,83.0,"ST,LW",Portugal,94,94,77000000.0,...,93,63,29,95,82,85,95,28,31,23
J. Serra,Janni-Luca Serra,3/13/1998,20,193.04,87.1,ST,Germany,67,79,1400000.0,...,59,65,23,69,45,50,49,35,38,33
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,190000.0,...,22,62,55,42,39,32,52,53,64,60
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,170000.0,...,9,27,10,5,25,16,47,9,12,13
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,325000.0,...,53,67,20,53,49,52,45,23,31,21

In [24]:
# select players who born after 1990
df_players.dtypes

full_name                         object
birth_date                        object
age                                int64
height_cm                        float64
weight_kgs                       float64
positions                         object
nationality                       object
overall_rating                     int64
potential                          int64
value_euro                       float64
wage_euro                        float64
preferred_foot                    object
international_reputation(1-5)      int64
weak_foot(1-5)                     int64
skill_moves(1-5)                   int64
body_type                         object
release_clause_euro              float64
national_team                     object
national_rating                  float64
national_team_position            object
national_jersey_number           float64
crossing                           int64
finishing                          int64
heading_accuracy                   int64
short_passing                      int64
volleys                            int64
dribbling                          int64
curve                              int64
freekick_accuracy                  int64
long_passing                       int64
ball_control                       int64
acceleration                       int64
sprint_speed                       int64
agility                            int64
reactions                          int64
balance                            int64
shot_power                         int64
jumping                            int64
stamina                            int64
strength                           int64
long_shots                         int64
aggression                         int64
interceptions                      int64
positioning                        int64
vision                             int64
penalties                          int64
composure                          int64
marking                            int64
standing_tackle                    int64
sliding_tackle                     int64
dtype: object

In [28]:
df_players['birth_date'] = df_players['birth_date'].astype('datetime64[ns]')
df_players['birth_date'].dt.year

name
L. Messi          1987
C. Eriksen        1992
P. Pogba          1993
L. Insigne        1991
K. Koulibaly      1991
                  ...
R. McKenzie       1993
M. Sipľak         1996
J. Bekkema        1996
A. Al Yami        1997
Júnior Brumado    1999
Name: birth_date, Length: 17954, dtype: int32

In [30]:
# convert birth_date column to datetime type
df_players['birth_date'] = df_players['birth_date'].astype('datetime64[ns]')
# Query
df_players.query("birth_date > 1990")

,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,value_euro,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
name,,,,,,,,,,,,,,,,,,,,,
C. Eriksen,Christian Dannemann Eriksen,1992-02-14,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,69500000.0,...,89,46,56,84,91,67,88,59,57,22
P. Pogba,Paul Pogba,1993-03-15,25,190.50,83.9,"CM,CAM",France,88,91,73000000.0,...,82,78,64,82,88,82,87,63,67,67
L. Insigne,Lorenzo Insigne,1991-06-04,27,162.56,59.0,"LW,ST",Italy,88,88,62000000.0,...,84,34,26,83,87,61,83,51,24,22
K. Koulibaly,Kalidou Koulibaly,1991-06-20,27,187.96,88.9,CB,Senegal,88,91,60000000.0,...,15,87,88,24,49,33,80,91,88,87
V. van Dijk,Virgil van Dijk,1991-07-08,27,193.04,92.1,CB,Netherlands,88,90,59500000.0,...,64,82,88,41,60,62,87,90,89,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,1993-10-07,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,975000.0,...,54,69,41,60,64,63,56,40,20,18
M. Sipľak,Michal Sipľak,1996-02-02,23,182.88,79.8,LB,Slovakia,59,67,190000.0,...,22,62,55,42,39,32,52,53,64,60
J. Bekkema,Jan Bekkema,1996-04-09,22,185.42,89.8,GK,Netherlands,59,67,170000.0,...,9,27,10,5,25,16,47,9,12,13
A. Al Yami,Abdulrahman Al Yami,1997-06-19,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,280000.0,...,58,38,15,54,52,50,53,16,18,17
Júnior Brumado,José Francisco dos Santos Júnior,1999-05-15,19,190.50,79.8,ST,Brazil,59,75,325000.0,...,53,67,20,53,49,52,45,23,31,21