In [1]:
#------------------------Page Three----------------------------
import pandas as pd
import numpy as np
df_players = pd.read_csv("../Assets/fifa_players.csv", engine='python')

In [8]:
# selecting data with loc() and iloc()

# loc() is label-based so we have to specify rows and columns based in their index/row and column labels

# Value---------df.loc['zero']
# List----------df.loc[['zero','two']]
# Slicing-------df.loc['zero':'two']

#-------------------------------------------------------------------------
# iloc() is integer position-based so we have to specify rows and columns by their integer position values (0-based integer position)

# Value-------- df.iloc[0]
# List----------df.iloc[[0,2]]
# Slicing-------df.iloc[0:2]

In [17]:
df_players

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,89,46,56,84,91,67,88,59,57,22
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,78,64,82,88,82,87,63,67,67
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,84,34,26,83,87,61,83,51,24,22
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,15,87,88,24,49,33,80,91,88,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,...,54,69,41,60,64,63,56,40,20,18
17950,M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,...,22,62,55,42,39,32,52,53,64,60
17951,J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,...,9,27,10,5,25,16,47,9,12,13
17952,A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,...,58,38,15,54,52,50,53,16,18,17
17953,Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,...,53,67,20,53,49,52,45,23,31,21

In [4]:
# set index
df_players.set_index('name',inplace=True)

In [5]:
df_players

,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,value_euro,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
name,,,,,,,,,,,,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,110500000.0,...,94,48,22,94,94,75,96,33,28,26
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,69500000.0,...,89,46,56,84,91,67,88,59,57,22
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,73000000.0,...,82,78,64,82,88,82,87,63,67,67
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,62000000.0,...,84,34,26,83,87,61,83,51,24,22
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,60000000.0,...,15,87,88,24,49,33,80,91,88,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,975000.0,...,54,69,41,60,64,63,56,40,20,18
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,190000.0,...,22,62,55,42,39,32,52,53,64,60
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,170000.0,...,9,27,10,5,25,16,47,9,12,13
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,280000.0,...,58,38,15,54,52,50,53,16,18,17
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,325000.0,...,53,67,20,53,49,52,45,23,31,21

In [6]:
df_players = df_players[['full_name','birth_date','age','height_cm','weight_kgs','nationality','national_team','national_rating'
    ]]

In [7]:
df_players

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,Argentina,Argentina,82.0
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [8]:
# selecting with a single value

# get all data about Messi
df_players.loc['L. Messi']

full_name          Lionel Andrés Messi Cuccittini
birth_date                              6/24/1987
age                                            31
height_cm                                  170.18
weight_kgs                                   72.1
nationality                             Argentina
national_team                           Argentina
national_rating                              82.0
Name: L. Messi, dtype: object

In [9]:
df_players.loc['L. Messi','height_cm']

np.float64(170.18)

In [10]:
# get weight of Cr7
df_players.loc[('Cristiano Ronaldo','weight_kgs')]

np.float64(83.0)

In [11]:
# get all rows inside the height column
df_players.loc[:,'height_cm']

name
L. Messi          170.18
C. Eriksen        154.94
P. Pogba          190.50
L. Insigne        162.56
K. Koulibaly      187.96
                   ...
R. McKenzie       175.26
M. Sipľak         182.88
J. Bekkema        185.42
A. Al Yami        175.26
Júnior Brumado    190.50
Name: height_cm, Length: 17954, dtype: float64

In [12]:
# get all columns that correspond to the index 'L.Messi'
df_players.loc['L. Messi',:]

full_name          Lionel Andrés Messi Cuccittini
birth_date                              6/24/1987
age                                            31
height_cm                                  170.18
weight_kgs                                   72.1
nationality                             Argentina
national_team                           Argentina
national_rating                              82.0
Name: L. Messi, dtype: object

In [13]:
# selecting with a list of values

# get all data about messi and ronaldo
df_players.loc[['L. Messi','Cristiano Ronaldo']]

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,Argentina,Argentina,82.0
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,2/5/1985,34,187.96,83.0,Portugal,Portugal,82.0

In [14]:
# get the height of messi and ronaldo
df_players.loc[['L. Messi','Cristiano Ronaldo'],'height_cm']

name
L. Messi             170.18
Cristiano Ronaldo    187.96
Name: height_cm, dtype: float64

In [15]:
# get height and weight of messi
df_players.loc['L. Messi',['height_cm','weight_kgs']]

height_cm     170.18
weight_kgs      72.1
Name: L. Messi, dtype: object

In [16]:
# get height and weight of messi and ronaldo
df_players.loc[['L. Messi','Cristiano Ronaldo'],['height_cm','weight_kgs']]

                   height_cm  weight_kgs
name
L. Messi              170.18        72.1
Cristiano Ronaldo     187.96        83.0

In [17]:
# ------------------Selecting a range of data with a slice -------

# slice column labels
players = ['L. Messi','Cristiano Ronaldo']

df_players.loc[players, 'age':'national_team']

                   age  height_cm  weight_kgs nationality national_team
name
L. Messi            31     170.18        72.1   Argentina     Argentina
Cristiano Ronaldo   34     187.96        83.0    Portugal      Portugal

In [19]:
# slice index labels
columns = ['age','height_cm','weight_kgs']

df_players.index[:10]
df_players.loc['L. Messi':'E. Cavani',columns]

              age  height_cm  weight_kgs
name
L. Messi       31     170.18        72.1
C. Eriksen     27     154.94        76.2
P. Pogba       25     190.50        83.9
L. Insigne     27     162.56        59.0
K. Koulibaly   27     187.96        88.9
V. van Dijk    27     193.04        92.1
K. Mbappé      20     152.40        73.0
S. Agüero      30     172.72        69.9
M. Neuer       32     193.04        92.1
E. Cavani      32     185.42        77.1

In [20]:
# ------------------------- Selecting with conditions--------------
# select player with height above 180cm
columns = ['age','height_cm','weight_kgs']
df_players.loc[df_players['height_cm'] > 180,columns]

                   age  height_cm  weight_kgs
name
P. Pogba            25     190.50        83.9
K. Koulibaly        27     187.96        88.9
V. van Dijk         27     193.04        92.1
M. Neuer            32     193.04        92.1
E. Cavani           32     185.42        77.1
...                ...        ...         ...
Cristiano Ronaldo   34     187.96        83.0
J. Serra            20     193.04        87.1
M. Sipľak           23     182.88        79.8
J. Bekkema          22     185.42        89.8
Júnior Brumado      19     190.50        79.8

[8900 rows x 3 columns]

In [58]:
#------------Selecting players with multiple conditions----------------------

(df_players['height_cm']>180) & (df_players['nationality']=="Argentina")

df_players.loc[(df_players['height_cm']>180) & (df_players['national_team']=="Argentina"),:
]

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
R. Funes Mori,José Ramiro Funes Mori,3/5/1991,28,185.42,78.9,Argentina,Argentina,82.0
S. Romero,Sergio Germán Romero,2/22/1987,32,193.04,87.1,Argentina,Argentina,82.0
R. Pereyra,Roberto Pereyra,1/7/1991,28,182.88,77.1,Argentina,Argentina,82.0
G. Pezzella,Germán Alejandro Pezzella,6/27/1991,27,185.42,81.2,Argentina,Argentina,82.0
E. Lamela,Erik Lamela,3/4/1992,27,182.88,79.8,Argentina,Argentina,82.0
N. Otamendi,Nicolás Hernán Otamendi,2/12/1988,31,182.88,81.2,Argentina,Argentina,82.0

In [60]:
df_players

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,Argentina,Argentina,82.0
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [62]:
#---------------------iloc()-------------------------------------
#--Select Single Values
# Get the Birthdate of the messi
df_players.iloc[0,1]

'6/24/1987'

In [63]:
# Get the weight of Paul Pogba
df_players.iloc[2,4]

np.float64(83.9)

In [64]:
# get all rows inside the height column
df_players.iloc[:,3]

name
L. Messi          170.18
C. Eriksen        154.94
P. Pogba          190.50
L. Insigne        162.56
K. Koulibaly      187.96
                   ...
R. McKenzie       175.26
M. Sipľak         182.88
J. Bekkema        185.42
A. Al Yami        175.26
Júnior Brumado    190.50
Name: height_cm, Length: 17954, dtype: float64

In [65]:
# get all the columns that correspond to the index L. Messi
df_players.iloc[0, :]

full_name          Lionel Andrés Messi Cuccittini
birth_date                              6/24/1987
age                                            31
height_cm                                  170.18
weight_kgs                                   72.1
nationality                             Argentina
national_team                           Argentina
national_rating                              82.0
Name: L. Messi, dtype: object

In [67]:
#-----------------Selecting with a list of values--------
#get all data about L. Messi and Pogba

df_players.iloc[[0,2]]

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,Argentina,Argentina,82.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0

In [68]:
# get the height of messi and pogba
df_players.iloc[[0,2],3]

name
L. Messi    170.18
P. Pogba    190.50
Name: height_cm, dtype: float64

In [70]:
# get the height and weight of pogba and messi
df_players.iloc[[0,2],[3,4]]

          height_cm  weight_kgs
name
L. Messi     170.18        72.1
P. Pogba     190.50        83.9

In [71]:
#-----------------Selecting a range of data with a slice---------------

# slice column labels age and nationality
players = [0, 1]
df_players.iloc[players,2:6]

            age  height_cm  weight_kgs nationality
name
L. Messi     31     170.18        72.1   Argentina
C. Eriksen   27     154.94        76.2     Denmark

In [73]:
# get top 10 players in the list
columns = [1,2,3,4]
df_players.iloc[0:10,columns]

              birth_date  age  height_cm  weight_kgs
name
L. Messi       6/24/1987   31     170.18        72.1
C. Eriksen     2/14/1992   27     154.94        76.2
P. Pogba       3/15/1993   25     190.50        83.9
L. Insigne      6/4/1991   27     162.56        59.0
K. Koulibaly   6/20/1991   27     187.96        88.9
V. van Dijk     7/8/1991   27     193.04        92.1
K. Mbappé     12/20/1998   20     152.40        73.0
S. Agüero       6/2/1988   30     172.72        69.9
M. Neuer       3/27/1986   32     193.04        92.1
E. Cavani      2/14/1987   32     185.42        77.1

In [76]:
# ----------------------selecting with conditions-------------------
columns = [1,2,3,4]

df_players.iloc[list(df_players['height_cm']>186),columns]

                  birth_date  age  height_cm  weight_kgs
name
P. Pogba           3/15/1993   25     190.50        83.9
K. Koulibaly       6/20/1991   27     187.96        88.9
V. van Dijk         7/8/1991   27     193.04        92.1
M. Neuer           3/27/1986   32     193.04        92.1
Sergio Busquets    7/16/1988   30     187.96        76.2
...                      ...  ...        ...         ...
H. Kane            7/28/1993   25     187.96        88.9
De Gea             11/7/1990   28     193.04        76.2
Cristiano Ronaldo   2/5/1985   34     187.96        83.0
J. Serra           3/13/1998   20     193.04        87.1
Júnior Brumado     5/15/1999   19     190.50        79.8

[4153 rows x 4 columns]

In [78]:
df_players.iloc[list((df_players['height_cm']>180) & (df_players['national_team']=='Argentina')),:]

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
R. Funes Mori,José Ramiro Funes Mori,3/5/1991,28,185.42,78.9,Argentina,Argentina,82.0
S. Romero,Sergio Germán Romero,2/22/1987,32,193.04,87.1,Argentina,Argentina,82.0
R. Pereyra,Roberto Pereyra,1/7/1991,28,182.88,77.1,Argentina,Argentina,82.0
G. Pezzella,Germán Alejandro Pezzella,6/27/1991,27,185.42,81.2,Argentina,Argentina,82.0
E. Lamela,Erik Lamela,3/4/1992,27,182.88,79.8,Argentina,Argentina,82.0
N. Otamendi,Nicolás Hernán Otamendi,2/12/1988,31,182.88,81.2,Argentina,Argentina,82.0

In [80]:
#------------------------------Set Values to one cell------------------

# update the height of messi
df_players.loc['L. Messi','height_cm'] = 168

In [81]:
df_players

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,168.00,72.1,Argentina,Argentina,82.0
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [82]:
#----------set a value to entire column-------------------------
df_players.loc[:,'height_cm'] = 190

In [83]:
df_players

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,190.0,72.1,Argentina,Argentina,82.0
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,190.0,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,25,190.0,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,190.0,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,190.0,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,190.0,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,190.0,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,190.0,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,190.0,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.0,79.8,Brazil,NaN,NaN

In [85]:
#---set values to a entire row
df_players.iloc[-1, :]

full_name          José Francisco dos Santos Júnior
birth_date                                5/15/1999
age                                              19
height_cm                                     190.0
weight_kgs                                     79.8
nationality                                  Brazil
national_team                                   NaN
national_rating                                 NaN
Name: Júnior Brumado, dtype: object

In [92]:
df_players.iloc[-1, :] = np.nan

In [97]:
df_players.tail(1)

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
17953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
df_players

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31.0,170.18,72.1,"CF,RW,ST",Argentina,94.0,94.0,...,94.0,48.0,22.0,94.0,94.0,75.0,96.0,33.0,28.0,26.0
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27.0,154.94,76.2,"CAM,RM,CM",Denmark,88.0,89.0,...,89.0,46.0,56.0,84.0,91.0,67.0,88.0,59.0,57.0,22.0
2,P. Pogba,Paul Pogba,3/15/1993,25.0,190.50,83.9,"CM,CAM",France,88.0,91.0,...,82.0,78.0,64.0,82.0,88.0,82.0,87.0,63.0,67.0,67.0
3,L. Insigne,Lorenzo Insigne,6/4/1991,27.0,162.56,59.0,"LW,ST",Italy,88.0,88.0,...,84.0,34.0,26.0,83.0,87.0,61.0,83.0,51.0,24.0,22.0
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27.0,187.96,88.9,CB,Senegal,88.0,91.0,...,15.0,87.0,88.0,24.0,49.0,33.0,80.0,91.0,88.0,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,Rory McKenzie,10/7/1993,25.0,175.26,74.8,"RM,CAM,CM",Scotland,67.0,70.0,...,54.0,69.0,41.0,60.0,64.0,63.0,56.0,40.0,20.0,18.0
17950,M. Sipľak,Michal Sipľak,2/2/1996,23.0,182.88,79.8,LB,Slovakia,59.0,67.0,...,22.0,62.0,55.0,42.0,39.0,32.0,52.0,53.0,64.0,60.0
17951,J. Bekkema,Jan Bekkema,4/9/1996,22.0,185.42,89.8,GK,Netherlands,59.0,67.0,...,9.0,27.0,10.0,5.0,25.0,16.0,47.0,9.0,12.0,13.0
17952,A. Al Yami,Abdulrahman Al Yami,6/19/1997,21.0,175.26,64.9,"ST,LM",Saudi Arabia,59.0,71.0,...,58.0,38.0,15.0,54.0,52.0,50.0,53.0,16.0,18.0,17.0
17953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#---------------Set value to multiple cells----------------------
df_players.loc[['L. Messi','Cristiano Ronaldo'],'height_cm'] = 175

In [11]:
columns = ['age','height_cm','weight_kgs']

df_players.loc[df_players['height_cm'] > 180,columns]

                   age  height_cm  weight_kgs
name
P. Pogba            25     190.50        83.9
K. Koulibaly        27     187.96        88.9
V. van Dijk         27     193.04        92.1
M. Neuer            32     193.04        92.1
E. Cavani           32     185.42        77.1
...                ...        ...         ...
Cristiano Ronaldo   34     187.96        83.0
J. Serra            20     193.04        87.1
M. Sipľak           23     182.88        79.8
J. Bekkema          22     185.42        89.8
Júnior Brumado      19     190.50        79.8

[8900 rows x 3 columns]

In [3]:
df_players

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,89,46,56,84,91,67,88,59,57,22
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,78,64,82,88,82,87,63,67,67
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,84,34,26,83,87,61,83,51,24,22
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,15,87,88,24,49,33,80,91,88,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,...,54,69,41,60,64,63,56,40,20,18
17950,M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,...,22,62,55,42,39,32,52,53,64,60
17951,J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,...,9,27,10,5,25,16,47,9,12,13
17952,A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,...,58,38,15,54,52,50,53,16,18,17
17953,Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,...,53,67,20,53,49,52,45,23,31,21

In [21]:
#--------------------------Drop Rows in a DATA FRAME ------------------

# drop one row
# 1) aix parameter

# 0 is row and 1 in column
df_players.drop('L. Messi',axis=0)

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN,NaN
V. van Dijk,Virgil van Dijk,7/8/1991,27,193.04,92.1,Netherlands,Netherlands,81.0
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [23]:
# 2) index parameter

df_players.drop(index=['L. Messi'])

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN,NaN
V. van Dijk,Virgil van Dijk,7/8/1991,27,193.04,92.1,Netherlands,Netherlands,81.0
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [24]:
# drop two or more data
df_players.drop(['C. Eriksen','K. Koulibaly'] ,axis=0)

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,Argentina,Argentina,82.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
V. van Dijk,Virgil van Dijk,7/8/1991,27,193.04,92.1,Netherlands,Netherlands,81.0
K. Mbappé,Kylian Mbappé,12/20/1998,20,152.40,73.0,France,France,84.0
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [25]:
# --Drop Columns

# axis parameter
df_players.drop('full_name',axis=1)

,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,
L. Messi,6/24/1987,31,170.18,72.1,Argentina,Argentina,82.0
C. Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...,...
R. McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [26]:
# column parameter
df_players.drop(columns=['age'])

,full_name,birth_date,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,170.18,72.1,Argentina,Argentina,82.0
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,187.96,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,190.50,79.8,Brazil,NaN,NaN

In [27]:
df_players

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,Argentina,Argentina,82.0
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [30]:
# drop columns by position - deleting national rating

df_players.drop(df_players.columns[[-1]], axis=1)

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team
name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,Argentina,Argentina
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN
...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN

In [31]:
# drop two or more columns
df_players.drop(['full_name','birth_date'],axis=1)

,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,
L. Messi,31,170.18,72.1,Argentina,Argentina,82.0
C. Eriksen,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,25,190.50,83.9,France,France,84.0
L. Insigne,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,27,187.96,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...
R. McKenzie,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,19,190.50,79.8,Brazil,NaN,NaN