In [16]:
#------------------------Page Three----------------------------
import pandas as pd
import numpy as np
df_players = pd.read_csv("../Assets/fifa_players.csv", engine='python')

In [8]:
# selecting data with loc() and iloc()

# loc() is label-based so we have to specify rows and columns based in their index/row and column labels

# Value---------df.loc['zero']
# List----------df.loc[['zero','two']]
# Slicing-------df.loc['zero':'two']

#-------------------------------------------------------------------------
# iloc() is integer position-based so we have to specify rows and columns by their integer position values (0-based integer position)

# Value-------- df.iloc[0]
# List----------df.iloc[[0,2]]
# Slicing-------df.iloc[0:2]

In [17]:
df_players

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,89,46,56,84,91,67,88,59,57,22
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,78,64,82,88,82,87,63,67,67
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,84,34,26,83,87,61,83,51,24,22
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,15,87,88,24,49,33,80,91,88,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,...,54,69,41,60,64,63,56,40,20,18
17950,M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,...,22,62,55,42,39,32,52,53,64,60
17951,J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,...,9,27,10,5,25,16,47,9,12,13
17952,A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,...,58,38,15,54,52,50,53,16,18,17
17953,Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,...,53,67,20,53,49,52,45,23,31,21

In [18]:
# set index
df_players.set_index('name',inplace=True)

In [19]:
df_players

,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,value_euro,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
name,,,,,,,,,,,,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,110500000.0,...,94,48,22,94,94,75,96,33,28,26
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,69500000.0,...,89,46,56,84,91,67,88,59,57,22
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,73000000.0,...,82,78,64,82,88,82,87,63,67,67
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,62000000.0,...,84,34,26,83,87,61,83,51,24,22
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,60000000.0,...,15,87,88,24,49,33,80,91,88,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,975000.0,...,54,69,41,60,64,63,56,40,20,18
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,190000.0,...,22,62,55,42,39,32,52,53,64,60
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,170000.0,...,9,27,10,5,25,16,47,9,12,13
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,280000.0,...,58,38,15,54,52,50,53,16,18,17
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,325000.0,...,53,67,20,53,49,52,45,23,31,21

In [21]:
df_players = df_players[['full_name','birth_date','age','height_cm','weight_kgs','nationality','national_team','national_rating'
    ]]

In [22]:
df_players

,full_name,birth_date,age,height_cm,weight_kgs,nationality,national_team,national_rating
name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,Argentina,Argentina,82.0
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,Denmark,Denmark,78.0
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,France,France,84.0
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,Italy,Italy,83.0
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,Senegal,NaN,NaN
...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,Scotland,NaN,NaN
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,Slovakia,NaN,NaN
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,Netherlands,NaN,NaN
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,Saudi Arabia,NaN,NaN
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,Brazil,NaN,NaN

In [23]:
# selecting with a single value

# get all data about Messi
df_players.loc['L. Messi']

full_name          Lionel Andrés Messi Cuccittini
birth_date                              6/24/1987
age                                            31
height_cm                                  170.18
weight_kgs                                   72.1
nationality                             Argentina
national_team                           Argentina
national_rating                              82.0
Name: L. Messi, dtype: object

In [25]:
df_players.loc['L. Messi','height_cm']

np.float64(170.18)

In [27]:
# get weight of Cr7
df_players.loc[('Cristiano Ronaldo','weight_kgs')]

np.float64(83.0)

In [29]:
# get all rows inside the height column
df_players.loc[:,'height_cm']

name
L. Messi          170.18
C. Eriksen        154.94
P. Pogba          190.50
L. Insigne        162.56
K. Koulibaly      187.96
                   ...
R. McKenzie       175.26
M. Sipľak         182.88
J. Bekkema        185.42
A. Al Yami        175.26
Júnior Brumado    190.50
Name: height_cm, Length: 17954, dtype: float64

In [31]:
# get all columns that correspond to the index 'L.Messi'
df_players.loc['L. Messi',:]

full_name          Lionel Andrés Messi Cuccittini
birth_date                              6/24/1987
age                                            31
height_cm                                  170.18
weight_kgs                                   72.1
nationality                             Argentina
national_team                           Argentina
national_rating                              82.0
Name: L. Messi, dtype: object