In [59]:
#------------------------Page Four----------------------------
import pandas as pd
import numpy as np
df_gdp = pd.read_csv("../Assets/gdp.csv" ,engine="python")
df_supermarket = pd.read_excel("../Assets/SupermaketSales.xlsx")

In [ ]:
#--------------------Pivot Tables------------------------
# 1) pivot() - Reshape data based on column values (does not support data aggregation)

# 2) pivot_tables() - create a spreadsheet-style pivot table (support data aggregation)

In [60]:
#-------------pivot()--------------
df_gdp.pivot(index="Year", columns="Country Name", values="Value")

Country Name,Afghanistan,Africa Eastern and Southern,Africa Western and Central,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Arab World,...,Uzbekistan,Vanuatu,"Venezuela, RB",Viet Nam,Virgin Islands (U.S.),West Bank and Gaza,World,"Yemen, Rep.",Zambia,Zimbabwe
Year,,,,,,,,,,,,,,,,,,,,,
1960,NaN,2.121696e+10,1.188413e+10,NaN,2.723615e+09,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.663938e+09,NaN,NaN,NaN,1.364504e+12,NaN,7.130000e+08,1.052990e+09
1961,NaN,2.230747e+10,1.268566e+10,NaN,2.434747e+09,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.067267e+09,NaN,NaN,NaN,1.439319e+12,NaN,6.962857e+08,1.096647e+09
1962,NaN,2.370247e+10,1.360683e+10,NaN,2.001445e+09,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.814310e+09,NaN,NaN,NaN,1.542845e+12,NaN,6.931429e+08,1.117602e+09
1963,NaN,2.577938e+10,1.443998e+10,NaN,2.702982e+09,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.608717e+09,NaN,NaN,NaN,1.664977e+12,NaN,7.187143e+08,1.159512e+09
1964,NaN,2.804954e+10,1.576911e+10,NaN,2.909316e+09,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.192414e+09,NaN,NaN,NaN,1.827785e+12,NaN,8.394286e+08,1.217138e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,1.879944e+10,1.006527e+12,8.239336e+11,1.540183e+10,1.934597e+11,647000000.0,3.155149e+09,7.089796e+10,1.725352e+09,2.898669e+12,...,6.028350e+10,9.365263e+08,NaN,3.343653e+11,4.121000e+09,1.713350e+10,8.794557e+13,NaN,2.330867e+10,2.183223e+10
2020,1.995593e+10,9.290741e+11,7.871467e+11,1.516273e+10,1.648734e+11,721000000.0,2.891001e+09,4.850156e+10,1.410796e+09,2.576553e+12,...,6.022470e+10,9.094210e+08,NaN,3.466157e+11,4.189000e+09,1.553170e+10,8.557772e+13,NaN,1.813776e+10,2.150970e+10
2021,1.426650e+10,1.086772e+12,8.459930e+11,1.793057e+10,1.862654e+11,750000000.0,3.324683e+09,6.650513e+10,1.601367e+09,2.969117e+12,...,6.960061e+10,9.503940e+08,NaN,3.664748e+11,4.444000e+09,1.810900e+10,9.752703e+13,NaN,2.209642e+10,2.837124e+10
2022,1.450216e+10,1.183962e+12,8.771408e+11,1.891638e+10,2.255603e+11,871000000.0,3.380602e+09,1.043997e+11,1.867733e+09,3.613682e+12,...,8.114082e+10,1.022219e+09,NaN,4.103240e+11,NaN,1.916550e+10,1.012251e+14,NaN,2.916378e+10,2.736663e+10
2023,NaN,1.236163e+12,7.965862e+11,2.297768e+10,2.398995e+11,NaN,3.727674e+09,8.472296e+10,2.033085e+09,3.491517e+12,...,9.088915e+10,1.126313e+09,NaN,4.297170e+11,NaN,1.739630e+10,1.054350e+14,NaN,2.816263e+10,2.653827e+10

In [61]:
df_supermarket

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Month,Day,Year,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1,5,2019,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3,8,2019,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3,3,2019,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1,27,2019,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2,8,2019,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1,29,2019,2019-01-29,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3,2,2019,2019-03-02,17:16:00,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2,9,2019,2019-02-09,13:22:00,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2,22,2019,2019-02-22,15:33:00,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2,18,2019,2019-02-18,13:28:00,Cash,618.38,4.761905,30.9190,6.6

In [69]:
# ---------------------Pivot Table()----------------
df_supermarket['Date'] = df_supermarket['Date'].astype(str)
df_supermarket['Time'] = df_supermarket['Time'].astype(str)

In [72]:
df_supermarket.pivot_table(index="Gender",
                        values=["Quantity","Total"],  # your numeric columns here
                       aggfunc="sum")

        Quantity       Total
Gender
Female      2869  167882.925
Male        2641  155083.824

In [74]:
# create a pivot table that shows how much male and female spent in each category
df_supermarket.pivot_table(index="Gender",
                           columns="Product line",
                       values="Total",  # your numeric columns here
                       aggfunc="sum")

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,27102.0225,30437.400,33170.9175,18560.9865,30036.8775,28574.7210
Male,27235.5090,23868.495,22973.9265,30632.7525,23825.0355,26548.1055