In [16]:
import pandas as pd

"https://www.football-data.co.uk/mmz4281/2526/E0.csv"

In [17]:
# Read a .csv file from one Url

df_premier25 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2526/E0.csv",   engine="python")

In [20]:
df_premier25.rename(columns={'FTHG':'home_goals',
                    'FTAG':'away_goals'},inplace = True)

In [21]:
df_premier25

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,E0,18/10/2025,15:00,Sunderland,Wolves,2,0,H,1,0,...,2.13,1.75,2.23,1.74,2.14,1.75,2.08,1.73,2.20,1.82
76,E0,18/10/2025,17:30,Fulham,Arsenal,0,1,A,0,0,...,1.98,1.88,1.99,1.93,2.06,1.88,1.98,1.81,2.07,1.91
77,E0,19/10/2025,14:00,Tottenham,Aston Villa,1,2,A,1,1,...,1.98,1.88,2.00,1.93,1.98,1.91,1.91,1.87,2.02,1.96
78,E0,19/10/2025,16:30,Liverpool,Man United,1,2,A,0,1,...,1.90,1.95,1.78,2.15,1.90,2.10,1.80,1.98,1.94,2.04
79,E0,20/10/2025,20:00,West Ham,Brentford,0,2,A,0,1,...,2.03,1.83,1.87,2.06,2.03,2.17,1.83,1.95,2.08,1.91

In [22]:
# Read a .csv from multiple Urls - Multiple leagues

# root variable
root = "https://www.football-data.co.uk/mmz4281/"

In [24]:
# creating a list of leagues
leagues = ['E0','E1','E2','E3','EC']
frames = []

# looping through leagues , read multiple csv and append it into a list..
for league in leagues:
   df = pd.read_csv(root + '2526' + '/' + league + '.csv')
   frames.append(df)

In [26]:
len(frames) # as leagues are 5 - rows

5

In [30]:
frames[0].head() # means E0 - premier league

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92

In [49]:
for season in range(15,21):
    print(str(season)+str(season+1) )

1516
1617
1718
1819
1920
2021

In [54]:
#__________________Multiple Seasons____________________
# creating a list of leagues
leagues = ['E0','E2','E3']
frames = []

# looping through range of seasons and insert new column
for league in leagues:
    for season in range(15, 21):
        df = pd.read_csv(root + str(season) + str(season+1) + '/' + league + '.csv')
        df.insert(1, 'season', season)
        frames.append(df)

In [55]:
# total frames (6 seasons * 3 leagues)
len(frames)

18

In [57]:
# show first data frame
frames[17]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,20,12/09/2020,15:00,Barrow,Stevenage,1,1,D,1,...,1.76,-0.25,1.95,1.90,1.93,1.98,1.98,1.99,1.91,1.92
1,E3,20,12/09/2020,15:00,Bolton,Forest Green,0,1,A,0,...,1.79,-0.25,2.02,1.83,2.04,1.87,2.09,1.90,2.00,1.83
2,E3,20,12/09/2020,15:00,Bradford,Colchester,0,0,D,0,...,1.65,-0.25,2.07,1.72,2.11,1.82,2.20,1.82,2.09,1.76
3,E3,20,12/09/2020,15:00,Cambridge,Carlisle,3,0,H,2,...,1.70,-0.25,1.98,1.88,2.02,1.88,2.04,1.90,1.99,1.84
4,E3,20,12/09/2020,15:00,Cheltenham,Morecambe,1,2,A,1,...,1.75,-0.50,1.83,2.02,1.87,2.04,1.88,2.09,1.83,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,20,08/05/2021,15:00,Port Vale,Mansfield,0,3,A,0,...,1.84,0.25,1.90,1.95,1.89,2.00,1.95,2.07,1.85,1.97
548,E3,20,08/05/2021,15:00,Scunthorpe,Stevenage,0,1,A,0,...,1.73,0.50,1.80,2.05,1.84,2.06,1.87,2.14,1.77,2.07
549,E3,20,08/05/2021,15:00,Southend,Newport County,1,1,D,1,...,1.44,0.50,1.93,1.93,1.94,1.94,1.97,1.97,1.91,1.91
550,E3,20,08/05/2021,15:00,Tranmere,Colchester,0,0,D,0,...,1.59,-0.75,2.05,1.80,2.05,1.85,2.08,1.89,2.01,1.82
551,E3,20,08/05/2021,16:00,Salford,Leyton Orient,3,0,H,1,...,1.87,-1.00,1.98,1.88,1.99,1.90,2.01,1.96,1.96,1.86