In [29]:
import pandas as pd
import numpy as np
from pandas import RangeIndex
df_salaries = pd.read_csv("../Assets/annual.csv")

In [3]:
#-----------------Selecting a One Colum from a DataFrame-----------------------------

 #-----Syntax 1----

 # select a column with []
var = df_salaries['Period']
var

0       2007.03
1       2007.03
2       2007.03
3       2007.03
4       2007.03
         ...
7747    2023.03
7748    2023.03
7749    2023.03
7750    2023.03
7751    2023.03
Name: Period, Length: 7752, dtype: float64

In [4]:
#-check data type of a column
type(df_salaries['Period'])

pandas.core.series.Series

In [5]:
#- series: attributes and methods
df_salaries['Period'].index

RangeIndex(start=0, stop=7752, step=1)

In [6]:
df_salaries['Period'].head()

0    2007.03
1    2007.03
2    2007.03
3    2007.03
4    2007.03
Name: Period, dtype: float64

In [11]:
#-------Syntax 2 (not practical)------------
df_salaries.Period

0       2007.03
1       2007.03
2       2007.03
3       2007.03
4       2007.03
         ...
7747    2023.03
7748    2023.03
7749    2023.03
7750    2023.03
7751    2023.03
Name: Period, Length: 7752, dtype: float64

In [10]:
df_salaries.head()

,Period,Inst_sector,Inst_sector_code,Descriptor,SNA08TRANS,Asset_liability_code,Values
0,2007.03,Non-corporate business enterprises,121,Closing balance total assets,LE00000,A000000,345948
1,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance Total financi...,LE00000,AFA0000,99748
2,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance monetary gold...,LE00000,AFA0100,0
3,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance currency and ...,LE00000,AFA0200,14773
4,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance debt securities,LE00000,AFA0300,1267

In [9]:
#-------------Selecting Two or more Columns from a dataframe-------------------

df_salaries[['Descriptor','Values']]

                                             Descriptor   Values
0                          Closing balance total assets   345948
1     Financial assets Closing balance Total financi...    99748
2     Financial assets Closing balance monetary gold...        0
3     Financial assets Closing balance currency and ...    14773
4      Financial assets Closing balance debt securities     1267
...                                                 ...      ...
7747  Capital Account Closing balances Total non-fin...  3017380
7748  Capital Account Closing balances Produced non-...  1440803
7749  Capital Account Closing balances Non-produced ...  1576577
7750                          Closing balance net worth  3017380
7751    Closing balance total liabilities and net worth  7678630

[7752 rows x 2 columns]

In [8]:
type(df_salaries[['Descriptor','Values']]
)
# [] -  show as series
# [[]] - dataframe

pandas.core.frame.DataFrame

In [7]:
df_salaries[['Period','Descriptor','Values']]

       Period                                         Descriptor   Values
0     2007.03                       Closing balance total assets   345948
1     2007.03  Financial assets Closing balance Total financi...    99748
2     2007.03  Financial assets Closing balance monetary gold...        0
3     2007.03  Financial assets Closing balance currency and ...    14773
4     2007.03   Financial assets Closing balance debt securities     1267
...       ...                                                ...      ...
7747  2023.03  Capital Account Closing balances Total non-fin...  3017380
7748  2023.03  Capital Account Closing balances Produced non-...  1440803
7749  2023.03  Capital Account Closing balances Non-produced ...  1576577
7750  2023.03                          Closing balance net worth  3017380
7751  2023.03    Closing balance total liabilities and net worth  7678630

[7752 rows x 3 columns]

In [27]:
#--------------------Adding new Columns---------------------

#----------adding a new column with a single value

df_salaries['Names'] = 'Dilan'
df_salaries.head()

In [40]:
#------------ adding a new column with an array--------------

salary_details = np.arange(0,7752) # length must be exactly as the existing data frame
salary_details

array([   0,    1,    2, ..., 7749, 7750, 7751], shape=(7752,))

In [49]:
#-adding a new column with an array

df_salaries['Gender'] = salary_details
df_salaries

,Period,Inst_sector,Inst_sector_code,Descriptor,SNA08TRANS,Asset_liability_code,Values,Gender,Age
0,2007.03,Non-corporate business enterprises,121,Closing balance total assets,LE00000,A000000,345948,0,46
1,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance Total financi...,LE00000,AFA0000,99748,1,17
2,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance monetary gold...,LE00000,AFA0100,0,2,63
3,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance currency and ...,LE00000,AFA0200,14773,3,13
4,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance debt securities,LE00000,AFA0300,1267,4,39
...,...,...,...,...,...,...,...,...,...
7747,2023.03,Total all sectors,900,Capital Account Closing balances Total non-fin...,LE00000,AN00000,3017380,7747,53
7748,2023.03,Total all sectors,900,Capital Account Closing balances Produced non-...,LE00000,AN10000,1440803,7748,56
7749,2023.03,Total all sectors,900,Capital Account Closing balances Non-produced ...,LE00000,AN20000,1576577,7749,57
7750,2023.03,Total all sectors,900,Closing balance net worth,LE00000,B900000,3017380,7750,4
7751,2023.03,Total all sectors,900,Closing balance total liabilities and net worth,LE00000,L000000,7678630,7751,77

In [53]:
#------------------adding a new column with random numbers-----------------

# create random numbers
int_gender = np.random.randint(1,100,size=7752)

In [46]:
# minimum value is 1 - inclusive
min(int_gender)
# maximum value is 99 - exclusive
max(int_gender)

np.int32(99)

In [50]:
df_salaries['Age'] = int_gender
df_salaries

,Period,Inst_sector,Inst_sector_code,Descriptor,SNA08TRANS,Asset_liability_code,Values,Gender,Age
0,2007.03,Non-corporate business enterprises,121,Closing balance total assets,LE00000,A000000,345948,0,46
1,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance Total financi...,LE00000,AFA0000,99748,1,17
2,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance monetary gold...,LE00000,AFA0100,0,2,63
3,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance currency and ...,LE00000,AFA0200,14773,3,13
4,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance debt securities,LE00000,AFA0300,1267,4,39
...,...,...,...,...,...,...,...,...,...
7747,2023.03,Total all sectors,900,Capital Account Closing balances Total non-fin...,LE00000,AN00000,3017380,7747,53
7748,2023.03,Total all sectors,900,Capital Account Closing balances Produced non-...,LE00000,AN10000,1440803,7748,56
7749,2023.03,Total all sectors,900,Capital Account Closing balances Non-produced ...,LE00000,AN20000,1576577,7749,57
7750,2023.03,Total all sectors,900,Closing balance net worth,LE00000,B900000,3017380,7750,4
7751,2023.03,Total all sectors,900,Closing balance total liabilities and net worth,LE00000,L000000,7678630,7751,77

In [54]:
#-----------------------add a column with  floating numbers-----------------------------------------
np.random.uniform(1,100,size=7752)

array([51.72768824,  4.37770922, 53.54928741, ...,  3.38993369,
       43.21431205, 96.99679525], shape=(7752,))