In [2]:
import pandas as pd
import numpy as np

# Creating data frames - {array , dictionaries , csv files}

In [3]:
# Option 1 -With Arrays

# creating an array
data = np.array([[1,4],[2,5],[3,6]])
# creating a data frame
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'],
                    columns=['col1', 'col2'])
# printing
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

In [4]:
# option 2 - creating a df from a Dictionary

state = ['California','Texas','Florida','New York']
population = [10000 , 20000,30000,40000]

dict_states = {'States':state, 'Population':population}

df_population = pd.DataFrame(dict_states)

df_population

       States  Population
0  California       10000
1       Texas       20000
2     Florida       30000
3    New York       40000