In [2]:
import pandas as pd
import numpy as np

# Creating data frames - {array , dictionaries , csv files}

In [3]:
# Option 1 -With Arrays

# creating an array
data = np.array([[1,4],[2,5],[3,6]])
# creating a data frame
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'],
                    columns=['col1', 'col2'])
# printing
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6