In [19]:
import pandas as pd
import numpy as np
df_products = pd.read_csv("../Assets/products-1000.csv", sep=None, engine="python")

#______________________Math Operations in Columns_________________________________

In [22]:
df_products

,Index,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
0,1,Thermostat Drone Heater,Consumer approach woman us those star.,Bradford-Yu,Kitchen Appliances,74,USD,139,8619793560985,Orchid,Medium,backorder,38
1,2,Ultra Speaker Iron Grill Advanced One,Point suggest easy money operation could white.,Douglas Group,Fitness Equipment,510,USD,351,3057216124300,MediumSeaGreen,Small,backorder,27
2,3,Watch Headphones Kettle,Reach husband education.,Landry-Austin,Beauty & Personal Care,254,USD,409,9825254410556,Lavender,XXL,pre_order,2
3,4,Portable Toaster Clock Monitor Silent,Always choose school poor table main.,"Odom, Norton and Foster",Makeup,69,USD,119,9490814777808,Pink,XL,in_stock,94
4,5,Pro Toaster Oven,Worry put discuss easy back too career.,"Fowler, Mendoza and Mcdaniel",Automotive,525,USD,727,4726650403799,LightCoral,XL,in_stock,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Silent Router Phone Portable Automatic,Piece the fight near never once bank.,Huffman Group,Toys & Games,903,USD,737,8227581307423,MediumAquaMarine,XL,limited_stock,33
996,997,Digital Treadmill Clean Go,Apply drive outside reach apply.,Woodward Group,Toys & Games,8,USD,330,522633507294,PaleVioletRed,Medium,out_of_stock,9
997,998,Wireless Vacuum Shaver,Line cup course student each about.,Ramos-Cardenas,Beauty & Personal Care,615,USD,630,1892829625606,PaleVioletRed,Extra Large,pre_order,4
998,999,Portable Cooker Brush 360 Digital Mini,History feel worry painting only power bad.,Hooper-Bender,Men's Clothing,811,USD,566,1683591150065,LightGreen,S,in_stock,65
999,1000,Smart Watch Edge Digital Sense,Pay image either rest.,Campos Inc,Kitchen Appliances,867,USD,769,8697154897673,Gainsboro,50x70 cm,limited_stock,10

In [21]:
#- select a column and calculate total
df_products['Price'].sum()

np.int64(506549)

In [28]:
#-calculate count 1000 - rows
df_products['Price'].count()
#-calculate average
df_products['Price'].mean()
#-calculate max number
df_products['Price'].max()
#-calculate min number
df_products['Price'].min()
#-calculate standing deviation
df_products['Price'].std()

np.float64(283.7735559033471)

In [29]:
#- easier calculations with describe()
df_products.describe()

             Index        Price        Stock           EAN  Internal ID
count  1000.000000  1000.000000  1000.000000  1.000000e+03  1000.000000
mean    500.500000   506.549000   501.782000  5.130255e+12    47.690000
std     288.819436   283.773556   292.151318  2.907413e+12    28.984202
min       1.000000     1.000000     2.000000  4.842647e+08     1.000000
25%     250.750000   284.750000   243.000000  2.699217e+12    22.000000
50%     500.500000   497.500000   504.000000  5.118167e+12    46.000000
75%     750.250000   757.250000   750.250000  7.653439e+12    74.000000
max    1000.000000   999.000000   999.000000  9.994627e+12    99.000000

In [30]:
#----------------------------- Math Operations in Rows ----------------------------

# - calculate sum of the rows
df_products['Price'] + df_products['Stock']

0       213
1       861
2       663
3       188
4      1252
       ...
995    1640
996     338
997    1245
998    1377
999    1636
Length: 1000, dtype: int64

In [31]:
# - calculate the average of the rows
df_products['Average'] = df_products['Price'] + df_products['Stock']/2

In [33]:
df_products.round(2) #-round the decimals in to 2

,Index,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID,Average
0,1,Thermostat Drone Heater,Consumer approach woman us those star.,Bradford-Yu,Kitchen Appliances,74,USD,139,8619793560985,Orchid,Medium,backorder,38,143.5
1,2,Ultra Speaker Iron Grill Advanced One,Point suggest easy money operation could white.,Douglas Group,Fitness Equipment,510,USD,351,3057216124300,MediumSeaGreen,Small,backorder,27,685.5
2,3,Watch Headphones Kettle,Reach husband education.,Landry-Austin,Beauty & Personal Care,254,USD,409,9825254410556,Lavender,XXL,pre_order,2,458.5
3,4,Portable Toaster Clock Monitor Silent,Always choose school poor table main.,"Odom, Norton and Foster",Makeup,69,USD,119,9490814777808,Pink,XL,in_stock,94,128.5
4,5,Pro Toaster Oven,Worry put discuss easy back too career.,"Fowler, Mendoza and Mcdaniel",Automotive,525,USD,727,4726650403799,LightCoral,XL,in_stock,95,888.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Silent Router Phone Portable Automatic,Piece the fight near never once bank.,Huffman Group,Toys & Games,903,USD,737,8227581307423,MediumAquaMarine,XL,limited_stock,33,1271.5
996,997,Digital Treadmill Clean Go,Apply drive outside reach apply.,Woodward Group,Toys & Games,8,USD,330,522633507294,PaleVioletRed,Medium,out_of_stock,9,173.0
997,998,Wireless Vacuum Shaver,Line cup course student each about.,Ramos-Cardenas,Beauty & Personal Care,615,USD,630,1892829625606,PaleVioletRed,Extra Large,pre_order,4,930.0
998,999,Portable Cooker Brush 360 Digital Mini,History feel worry painting only power bad.,Hooper-Bender,Men's Clothing,811,USD,566,1683591150065,LightGreen,S,in_stock,65,1094.0
999,1000,Smart Watch Edge Digital Sense,Pay image either rest.,Campos Inc,Kitchen Appliances,867,USD,769,8697154897673,Gainsboro,50x70 cm,limited_stock,10,1251.5

In [38]:
#-----------------------Value Counts------------------------
df_products['Size'].count() # returns the count of the rows
df_products['Size'].value_counts() # return the actual counts of values by category name
df_products['Size'].value_counts(normalize=True) # get as a Percentage
df_products['Size'].value_counts(normalize=True).round(2)

Size
8x10 in        0.07
L              0.06
10x10 cm       0.06
S              0.06
100x200 mm     0.06
Large          0.06
XL             0.06
50x70 cm       0.06
M              0.06
15x20 cm       0.05
XXL            0.05
Small          0.05
5x7 in         0.05
XS             0.05
Extra Large    0.05
Medium         0.05
12x18 in       0.05
30x40 cm       0.05
Name: proportion, dtype: float64